<div >

  <div>
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
  </div>


  <div class="text-center">

    <div class="po-row">
      <po-radio-group [(ngModel)]="tipo" name="radioGroupBasic" p-label="Tipo de arquivo:" (p-change)="changeTipo($event)"
       [p-options]="[
          { label: 'Vendas', value: 'v' },
          { label: 'Recebimentos', value: 'r' }
        ]">
      </po-radio-group>
    </div>
  </div>

  <div class="po-row">
    <input class="form-control" type="file" (change)="onChange($event)">      
  </div>
  <br>

  <po-button-group class="po-md-12" [p-buttons]="buttons"> </po-button-group>

  <br>

  <div class="po-row" >
    <po-grid class="po-md-12" [p-data]="dataGrid" [p-columns]="columnsGrid"> </po-grid>
  </div>

  <br>
  <p>Teste banco de dados:</p>
  <div>
    {{ lojas | json }}
  </div>

</div>